/* Import */

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

/* General */

* {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(3, 49, 53, 0.938);
}

/* Body */

body {
    background: url(clicker/background/bg1.png) no-repeat;
    background-size: 100%;
    margin: 0px;
    overflow: hidden;
  }

button {
    background: rgba(3, 49, 53, 0.938);
    border: none;
    width: 200px;
    height: 50px;
    color: rgb(149, 196, 177);
    animation: ease-in 0.2s all;
    &:hover{
        opacity: 0.85;
    }
}

.githubIcon {
    opacity: 0.3;
    position: fixed;
    bottom: 20px;
    left: 20px;
    animation: 0.3s ease-out;
    &:hover {
        opacity: 0.6;
    }
}